
.logo > .left {
    color: #40dc7e;
    border-right: 2px solid #40dc7e;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    /*font-style: italic;*/
}

.logo > .right {
    color: slategrey;
    text-transform: uppercase;
}

/* Nav flip */
.nav-flip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-flip > a {
    border-left: 1px solid #ebeef2;
    height: 2.25rem;
    padding: 0 1.25rem;
}

.nav-flip > a:hover:after {
    content: '';
    position: absolute;
    background: #40dc7e;
    background-image: -webkit-gradient(linear, left top, right top, from(#40dc7e), to(#40dc7e));
    background-image: linear-gradient(to right, #40dc7e, #40dc7e);
    margin-left: -21px;
    width: 97px;
    height: 5px;
    bottom: 0;
}

.nav-flip > a > span {
    padding: 6px;
    display: block;
}

.nav-flip > a > span > i {
    font-size: 20px;
}

/* Cover */
.cover {
    width: 100%;
    overflow: hidden;
    height: 450px;
    margin-top: 70px;
}

.cover > .bg {
    width: 100%;
    height: 100%;
    background-image: url("https://www.servcorp.com/media/2962/one-world-trade-center-new-york-banner.jpg");
    background-size: cover;
}
